@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

.custom-img {
    background-image: url("/puppypics/IMG_20221122_194330_674.jpg");
}